*{
  margin: 0px;
  padding: 0px;
}
#img1{
  height:30px ;
  width:30px ;
  float: left;
  margin: 15px;
}
header > ul > li{
  list-style: none;
  float: right;
  margin: 15px;
  cursor: pointer;
}
header{
  background-color: hotpink;
  display: inline-block;
  width: 100%;
}
#img2{
  width: 100%;
  height: 700px;
}
.mainContainer{
  display: flex;

}
.mainContainer > div{
  flex-direction: column;
  border-radius: 10px;
  border: 4px solid lightblue;
  padding: 20px;
  margin: 30px;
  justify-content: center;
  height: 220px;
  width: 110px;
  text-align: center;
  background-color: rgb(220, 220, 187);
}
#img3{
  width:120px ;
  height:100px ;
}
input{
  width: 95%;
  height: 30px;
  margin: 10px;
  display: block;
}
@media (max-width:400px) {
  #img1{
    display: none;
  }
  header > ul > li{
    float: none;
  }
  .mainContainer > div{
  flex-wrap: wrap;
  }

}