.div1 {
  height: 100vh;
  width: 100vw;
  background-image: url(./pexels-photo-325185.jpeg);
}
.div2{
background-image: url(./pexels-photo-978587.jpeg);
width: 100vw;
height: 100vh;

}

.div3{
  background-image: url(./pexels-photo-372098.jpeg);
}