*{
  background-image: url(./pexels-photo-325185.jpeg);
  background-attachment: scroll;
  background-size: cover;

}
table tr th{
  border:1px solid black;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
table tr td{
  border: 1px solid black;
  text-align: center;
  padding: 0px;
  margin: 0px;
}