<header>
  <div>
    <h3>EJS menu</h3>
    <nav>
      <a id="home" href="/">home</a>
      <a id="links" href="/links">links</a>
      <a id="list" href="/list">list</a>
      <a id="table" href="/table">table</a>
    </nav>
  </div>
</header>